hr{
    border: 1px solid rgba(72, 73, 73, 0.781);
    margin: 5px;
}
h4{
    color: rgba(1, 25, 63, 0.945);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.glad{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
}
.ttk{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(37, 37, 37, 0.918);
}
.personal{
    border: 150px;
    margin: 1%;
}